appdirs==1.4.4
astroid==2.5
bitstring==3.1.9
cffi==1.15.0
colorama==0.4.4
cryptography==36.0.1
distlib==0.3.1
ecdsa==0.17.0
esptool==3.2
filelock==3.0.12
graphviz==0.16
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
paho-mqtt==1.6.1
pycparser==2.21
pygame==2.1.2
pylint==2.6.0
pyserial==3.5
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
reedsolo==1.5.4
shiboken6==6.3.1
six==1.15.0
toml==0.10.2
virtualenv==20.4.2
wrapt==1.12.1
